<!--The content below is only a placeholder and can be replaced.-->
<div class="background-sky hero"></div>
<div class="center">
  <div style="text-align:center">
    <mat-card class="material-card">
      <div class="angular-message">One framework.<br>Mobile &amp; desktop.</div>
      <img mat-card-image class="angular-logo" alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.svg">
      <mat-card-actions>
        <a mat-button href="https://angular.io/tutorial" color="primary">TOUR OF HEROES</a>
        <a mat-button href="https://github.com/angular/angular-cli/wiki" color="primary">CLI DOCUMENTATION</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
